@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-black rounded-xl;
}

.task> ::-webkit-scrollbar-thumb {
  @apply bg-black rounded-xl;
}